<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SAIRSAS 2023 - Presentation</h2>
                </div>
            </div>

            <p align="center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=Ac9x5cYNmjNYKMSO&amp;list=PLAC3y1nIH7-yw3bWWiB760zjpgT4rQDPS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Keynote speakers</h2>
                    <h3 class="section-subheading text-muted">National and international keynote speakers.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Robotics</h4>
                                    <h4 class="subheading">Aamir Ahmad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Leader of the Flight Robotics and Perception group (FRPG) at the University of Stuttgart</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Robotics</h4>
                                    <h4 class="subheading">José M. Guerrero</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Associate Professor at King Juan Carlos University</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Robotics</h4>
                                    <h4 class="subheading">Luis Emmi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Post-doc researcher in the Field & Service Robotics Group, at the Centre For Automation and Robotics (UPM-CSIC), in Madrid
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Computer vision</h4>
                                    <h4 class="subheading">Beatriz Remeseiro</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Associate Professor at the University of Oviedo (Spain)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Computer vision</h4>
                                    <h4 class="subheading">Pablo Bustos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Professor at the University of Extremadura (UEx)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Computer vision</h4>
                                    <h4 class="subheading">Georgios Ouzounis</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Head of AI Research, Atlas AI, Palo Alto CA, USA</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Robotics</h4>
                                    <h4 class="subheading">Francisco Martín</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Professor at Rey Juan Carlos University; head of Intelligent Robotics Lab</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>and 
                                    <br>more
                                    <br>activities!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
