<!-- Clients Aside -->
    <section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                    <h3 class="section-subheading text-muted">Help provided by University of León organizing conference organization</h3>
                </div>    
            </div>
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <a href="#">
                        <img src="img/unileon.jpeg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research project funded by:</h2>
                    <h3 class="section-subheading text-muted">Grant TED2021-132356B-I00 funded by MCIN/AEI/10.13039/501100011033 and by the "European Union NextGenerationEU/PRTR".</h3>
                </div>    
            </div>
           <!-- <div class="row">-->
                <div class="row align-items-center">
                    <a href="#">
                        <!--<img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">-->
                        <img src="img/logos.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>                
                <!--<div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>-->
            <!--</div>-->
        </div>
    </section>