<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Activities</h2>
                    <h3 class="section-subheading text-muted">Keynote speakers, visits, networking.</h3>
		     <h3 class="section-subheading text-muted">Location: Sala de conferencias, Biblioteca de San Isidoro. Campus de Vegazana, Universidad de León.</h3>
		     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11745.475318658746!2d-5.5592303!3d42.6111332!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd37907fccbf087b%3A0x278eeab253ddc44e!2sBiblioteca%20Universitaria%20San%20Isidoro!5e0!3m2!1ses!2ses!4v1699381460458!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <h3 class="section-subheading text-muted">Visit to <a href="http://www.veterinaria.unileon.es/index.php/servicios-e-instalaciones/granja-experimental">Granja Experimental</a>.</h3>
                    
                    <h3 class="section-subheading text-muted">Visit to AGROVET.</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11762.47310216628!2d-5.446362!3d42.5209194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd378571c6ccc783%3A0x9fbc8de3dd00300f!2sLaboratorios%20Agrovet!5e0!3m2!1ses!2ses!4v1699381533909!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <a href="#">
                        <!--<img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">-->
                        <img src="img/programa.png" class="img-responsive img-centered" alt="">
                    </a>
            </div>  
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Detailed information</h2>
                    <h3 class="section-subheading text-muted">Plenary speakers.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
